@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}